<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>DishUpdate</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="card" style="width: 80%">
            <div class="card-header">
                Изменить блюдо.
            </div>
            <div class="card-body">
                <form th:action="@{/api/v1/dishes/update}" th:object="${dish}" method="POST">
                    <input type="hidden" name="id" th:value="*{id}"/>

                    <div class="form-group">
                        <label for="dishName">Название блюда</label>
                        <input type="text" class="form-control" id="dishName" name="dishName"
                               th:field="*{dishName}" required>
                    </div>

                    <div class="form-group">
                        <label for="description">Описание блюда</label>
                        <input type="text" class="form-control" id="description" name="description"
                               th:field="*{description}" required>
                    </div>

                    <div class="form-group">
                        <label for="price">Цена</label>
                        <input type="number" class="form-control" name="price" id="price"
                               th:field="*{price}" required>
                    </div>
                    <!--                    <div>-->
                    <!--                        <tr><span>Ингредиенты: </span></tr>-->
                    <!--                        <tr th:each="ingredient : ${dish.ingredients}">-->
                    <!--                            <label for="ingredient.name"></label>-->
                    <!--                            <input type="text" class="form-control" name="ingredient.name" id="ingredient.name"-->
                    <!--                                   th:field="*{ingredient.name}" required-->
                    <!--                            <span th:text="${ingredient.name}"></span>-->
                    <!--                        </tr>-->
                    <!--                    </div>-->
                    <button type="submit" class="btn btn-primary mt-3">Обновить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
